fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
transformers==4.57.3
accelerate==1.12.0
huggingface-hub==0.36.2
sentencepiece==0.2.1
safetensors==0.6.2
faster-whisper==1.2.0
numpy==2.1.2
peft==0.17.1
nvidia-cublas-cu12>=12.8,<13
librosa==0.11.0
soundfile==0.13.1
sox==1.5.0
onnxruntime==1.22.1
einops==0.8.1
faster-qwen3-tts==0.3.2
